* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.html {
    font-family: 'Lucida Sans Regular';
}

.display_block {
    display: block;
}
.display_none {
    display: none;
}

.box_shadow_black {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.bg_white {
    background-color: #fff;
}

.bg_profile_btn{
    background-color: #F6F6F6;
}

.text_black {
    color: #000;
}

.text_f14 {
    font-size: 14px;
}

.opacity_05 {
    opacity: 0.5;
}

.btn_hover:hover {
    background-color: #E9E9EB;
}

.noti_bar {
    color: #fff;
    font-size: 16px;
    background-color: #0E1422;
    height: 40px;
}

/* Định kiểu cho các label bị vô hiệu hóa */
.disabled {
    pointer-events: none; /* Ngăn chặn việc click */
    color: #ccc; /* Màu xám để biểu thị vô hiệu hóa */
}


/* .header {
    position: fixed;
    top: 40;
    left: 0;
    right: 0;
    height: 84px;
    background-color: #fff;
    z-index: 2;
} */

.logo{
    padding: 8px 5px;
    width: 46px;
    background-color: #000;
    text-align: center;
    height: 46px;
    border-radius: 30px 30px;
    margin-right: 12px;
}

.logo_name {
    font-size: 26px;
    font-weight: 700;
    color: #000;
    line-height: 56px;
    margin-right: 98px;
    text-shadow: 0 0 2px #fff, 0 0 4px #000;
    text-decoration: none;
}
.navbar-nav>li>a {
    color: #5C5F6A;
    font-size: 16px;
    margin-right: 34px;
}

.banner{
    position: relative;
    z-index: 1;
}

.ellipse{
    position: absolute;
    padding: 200px;
    top: 33px;
    left: -94px;
    z-index: -1;
    background-color: #EEEEEF;
    border-radius: 50%;
}

.card_product {
    position: relative;
}

.whishlist {
    position: absolute;
    top: 26px;
    right: 46px;
    cursor: pointer;
}

.img_product {
    position: relative;
}

.btn_addcart{
    position: absolute;
    bottom: 110px;
    right: 5px;
    width: 252px;
    cursor: pointer;
}

.nav_link {
    text-decoration: none;
    color: #5C5F6A;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
}
.nav_link_active {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
}
.selected_radio_color {
    border: 1px solid #000;
    border-radius: 50%;
}
.selected_checkbox_color {
    border: 1px solid #000;
    border-radius: 50%;
}
.none_radio_color {
    border: 1px solid #EEEEEF;
    border-radius: 50%;
}
.none_checkbox_color {
    border: 1px solid #EEEEEF;
    border-radius: 50%;
}

.btn-del {
    cursor: pointer;
}

.non_radio_size {
    border: 1px solid #EEEEEF;
}
.non_checkbox_size {
    border: 1px solid #EEEEEF;
}
.selected_radio_size {
    border: 1px solid #000;
}
.selected_checkbox_size {
    border: 1px solid #000;
}

.filter_elm {
    width: 145px;
    height: 34px;
    border: 1px solid #E6E7E8;
    padding: 7px;
    border-radius: 100px;
    margin-right: 8px;
}

.slected_tab_detail {
    cursor: pointer;
    color: #000;
    background-color: #F6F6F6;
}
.non_select_tab_detail {
    cursor: pointer;
    color: #5C5F6A;
}

.cart_product_row {

    position: relative;
}

.img_product_cart {
    background-color: #F6F6F6;
    width: 80px;
    height: 80px;
    border-radius: 6px;
}

.delete_product_cart {
    position: absolute;
    background-color: #E9E9EB;
    padding: 0px 5px;
    top: 13px;
    left: 62px;
    border-radius: 0px 6px 0px 0px;
}

.btn_change_cart:hover,
.btn_change_address:hover {
    background-color: #000;
    color: #fff;
}

/* animation_modal */
@keyframes slideLeft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
#modal_cart {
    animation: slideLeft 0.3s ease;
}


/*admin*/
#drop_right {
    position: relative;
}

#menu_right>ul {
    margin: 0;
}

#menu_right {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: absolute;
    top: -25px;
    right: -200px;
}

.action_product{
    position: relative;
}

.product_extral{
    position: absolute;
    top: 36px;
    right: 0px;
    z-index: 3;
}

.avt_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F1FF;
    width: 54px;
    height: 54px;
    border-radius: 4px;
    font-size: 14px; /* Kích thước chữ */
    font-weight: 500; /* Độ đậm của chữ */
    color: #4078FF; /* Màu chữ */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.img_Review {
    width: 56px;
    height: 56px;
}
.img_Input_Review {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    width: 58px; height: 58px;
    border-radius: 4px;
    padding: 0px 8px 3px 8px;
}

.close_img {
    position: absolute;
    top: -12px;
    right: -10px;
    background-color: #F6F6F6;
    border: 1px solid #F0F0F0;
    border-radius: 50%;
    display: inline-block;
    padding: 0px 8px;
    cursor: pointer;
}